.selected, .tab:hover {
    color: var(--secondary-1) !important;
    /* box-shadow: 0 -1.5px 8px .01px var(--secondary-1) !important; */
    box-shadow: 8px 8px 25px #803C00, -8px -8px 25px #FF8600 !important;
    background: linear-gradient(145deg, #b95700, #dc6800);
}

.tab {
    transition: all .2s;
    background-color: transparent;
    font-size: 3.2rem;
    color: var(--secondary-1-shade-2);
    padding: 2.4rem 2.4rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    box-shadow: 12.31px 12.31px 62px #803C00, -12.31px -12.31px 62px #FF8600;
    border-radius: 10px;
}

.white-golang {
    position: absolute;
    width: 69px;
    height: 36px;
    background-color: white;
    bottom: 41%;
    left: 45.5%;
    z-index: 0;
}

.white-rust {
    position: absolute;
    width: 69px;
    height: 36px;
    background-color: white;
    bottom: 34%;
    left: 17%;
    z-index: 0;
}

.center {
    position: relative;
    height: 700px;
}

.img {
    /* position: absolute; */
    z-index: 0;
    /* transform: translateY(75%); */
}

.bun {
    position: absolute;
    right: 24%;
    top: 60%;
}


.move-down {
    transform: translateY(50%);
}

/* SECTION DO */

.visual-box {
    position: relative;
}

.visual-box::after {
    content: "";
    border-radius: 50%;
    border: 2px double var(--secondary-3);
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;

    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}