.grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
    
}

.card {

    background: radial-gradient(ellipse 200% 200% at 50% 50%,rgba(205, 53, 0, .35), rgba(0,0,0,1) 33.5%);
    box-shadow:  0 4px 1px 1px var(--secondary-2);
    
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: all .2s;
    border-top: .5px solid var(--secondary-2);
}

.card:hover {
    box-shadow: 0 4px 1px 1px var(--secondary-2), 0 8px 1px 1px var(--secondary-3);

    transform: translateY(-4px);
}


.text-div {
    padding: 3.6rem;
    text-align: center;
}


.title {
    font-size: 6.2rem;
    color: var(--secondary-1);
    margin-bottom: .6rem;
}

.subtitle {
    color: var(--secondary-1);
    font-size: 2rem;
    margin-bottom: 3.2rem;
}

.body {
    color: var(--secondary-1);
    font-size: 2.4rem;
    line-height: 1.5;
}






.image-div {
    display: flex;
    justify-content: center;
}